.header {
  background-color: rgba(97, 187, 97, 1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 190px;
}
.header h1 {
  display: inline-block;
  text-align: center;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin: 0;
  font-size: 56px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  line-height: 64px;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.header p {
  font-size: 24px;
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 350;
}
.header-line {
  border: none;
  border-top: 1.5px solid rgb(230, 230, 230);
  margin: 0;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  border: 1px solid #ccc;
  padding: 16px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: white;
  width: 100%;
  max-width: 800px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-list {
  display: block;
  color: rgba(51, 51, 51, 1);
  font-weight: 600;
  font-size: 32px;
  text-decoration: none;
  padding: 10px 0;
  font-family: 'Titillium Web', sans-serif;
}
.article-description {
  padding: 16px 0;
  color: rgba(170, 170, 170, 1);
  font-family: 'Source Sans 3', sans-serif;
}
.article-body {
  font-family: 'Source Sans 3', sans-serif;
  color: rgba(51, 51, 51, 1);
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Source Sans 3', sans-serif;
}
.user-name {
  color: rgba(97, 187, 97, 1);
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}
.user-data {
  color: rgba(170, 170, 170, 1);
  font-weight: 400;
  font-size: 13px;
}
.user-icon {
  border-radius: 50%;
}
.like-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  width: 77px;
  height: 40px;
  padding: 12px 20px;

  border: 1px solid rgba(97, 187, 97, 1);
  border-radius: 7px;

  background-color: white;
  color: rgba(97, 187, 97, 1);
  cursor: pointer;
}
.like-animate img{
  animation: pop 0.3s ease;
}
@keyframes pop {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.4); }
  100% { transform: scale(1); }
}

/*--------NAVBAR-------- */

.navbar {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-text {
  color: rgba(97, 187, 97, 1);
  font-weight: bold;
  font-size: 24px;
  font-family: 'Titillium Web', sans-serif;
}
.navbar-links {
  display: flex;
  gap: 8px;
  font-family: 'Source Sans 3', sans-serif;
}
.navbar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
  position: relative;
}
.navbar-link::after {
  content: '';
  position: absolute;
  left: -10%;
  right: -10%;
  bottom: -3px;
  height: 1px;

  color: rgba(97, 187, 97, 1);
  border-bottom: 2px solid rgba(97, 187, 97, 1);

  opacity: 0;
  transition: 0.2s;
}

.navbar-link:hover::after {
  opacity: 1;
}
/*------Spinner------*/

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgba(97, 187, 97, 1);
  font-size: 32px;
}
.spinner-icon {
  width: 65px;
  height: 65px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/*SIDEBAR*/

.popular-tag {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 16px;
  border: 1px solid rgba(170, 170, 170, 1);
  border-radius: 8px;
  font-family: 'Source Sans 3', sans-serif;
}

.popular-tag_text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
  color: rgba(51, 51, 51, 1);
}
.tags {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;
}
.tags-btn {
  font-size: 12.8px;

  min-width: 50px;
  padding: 1px 8px;
  color: rgba(170, 170, 170, 1);
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(170, 170, 170, 1);
  font-family: 'Source Sans 3', sans-serif;
}

/*------Pagination------*/

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.pagination-btn {
  width: 41px;
  height: 44px;
  background-color: white;
  border: 1px solid rgba(97, 187, 97, 1);

  font-weight: 600;
  color: rgba(97, 187, 97, 1);
}
.pagination-btn.active {
  background-color: rgba(97, 187, 97, 1);
  color: white;
}

/*------PROFILE PAGE BANNER ------*/

.profile-container {
  width: 100%;
  height: 350px;
  background-color: rgba(51, 51, 51, 1);
  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.profile-icon {
  width: 132px;
  height: 132px;
}
.profile-user-name {
  font-size: 32px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Titillium Web', sans-serif;
}

.follow-btn {
  width: 120px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 1);
  border: 1px solid rgba(97, 187, 97, 1);
  color: rgba(97, 187, 97, 1);
  font-size: 18px;
  font-family: 'Source Sans 3', sans-serif;
}

.article-banner {
  width: 100%;
  margin-top: 120px;
  background-color: rgba(51, 51, 51, 1);
}
.fav-article {
  width: 112px;
  height: 32px;
  border-radius: 10px;
  background-color: rgba(97, 187, 97, 1);
  border: none;
  color: white;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Source Sans 3', sans-serif;
}
.article-description-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
}

.article-user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 46px;
}

/*SIGN IN*/
.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 90px;
  gap: 16px;

  width: 480px;
  margin-left: auto;
  margin-right: auto;
}
.input {
  color: black;
}
.auth-text {
  font-size: 46px;
  font-family: 'Titillium Web', sans-serif;
  color: rgba(51, 51, 51, 1);
}
.auth-input {
  width: 480px;
  height: 48px;
  border: 1px solid rgba(170, 170, 170, 1);
  border-radius: 8px;
  color: rgba(170, 170, 170, 1);
  font-size: 16px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 350;
  padding-left: 24px;
}
.auth-input {
  color: rgba(51, 51, 51, 1);
}
.auth-btn {
  width: 120px;
  height: 43px;
  background: rgba(97, 187, 97, 1);
  border-radius: 8px;
  border: none;
  font-family: 'Source Sans 3', sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  align-self: flex-end;
  font-weight: 350;
  cursor: pointer;
}
.auth-btn:hover {
  background-color: rgb(58, 166, 44);
}
.auth-bio {
  height: 100%;
  min-height: 100px;
  padding-top: 16px;
}
.auth-bio::placeholder {
  color: rgba(51, 51, 51, 1);
}

.auth-newpost {
  min-height: 100px;
  padding-top: 16px;
  color: rgba(51, 51, 51, 1);
}
.auth-newpost::placeholder {
  color: rgba(51, 51, 51, 1);
}
.auth-tags {
  align-self: flex-start;
}
.setting-btn {
  width: 144px;
  cursor: pointer;
}
.setting-btn:hover {
  background-color: rgb(58, 166, 44);
}
.logout-btn {
  width: 150px;
  height: 32px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgba(187, 97, 97, 1);
  color: rgba(187, 97, 97, 1);
  font-family: 'Source Sans 3', sans-serif;
  align-self: self-start;
}
.error-text {
  color: red;
  font-size: 15px;
  font-family: 'Source Sans 3', sans-serif;
}
.checkbox-wrapper {
  display: flex;
  gap: 10px;
  margin-right: 30px;
}
.checkbox {
  accent-color: rgb(68, 145, 68);
  cursor: pointer;
}
.checkbox-label {
  font-size: 14.5px;
  color: rgba(51, 51, 51, 1);
  font-family: 'Source Sans 3', sans-serif;
}
.update-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 32px;
  border: 1.5px solid rgba(97, 187, 97, 1);
  text-decoration: none;
  border-radius: 8px;
  color: rgba(97, 187, 97, 1);
  font-family: 'Source Sans 3', sans-serif;
  font-size: 13px;
  cursor: pointer;
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 32px;
  border: 1px solid rgba(187, 97, 97, 1);
  text-decoration: none;
  border-radius: 8px;
  color: rgba(187, 97, 97, 1);
  background-color: white;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 13px;
  cursor: pointer;
}
